.Beer {
    width: 400px;
    height: 150px;
    margin: 8px;
    text-align: left;
    overflow: hidden;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: white;    
    display: inline-block;
}
/* On mouse-over, add a deeper shadow */
.Beer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.beer-img {
    float: left;
    height: 150px;
    width: 100px;
    background: #f2f2f2;
    overflow: hidden;
    text-align: center;
    margin-right: 12px;
}
.beer-img img{
    margin: 0 auto;
}
.beer-desc{
    width: 100%;
    padding: 12px 12px 12px 0;
    font-size: 13px;
}
.beer-desc h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
}

.beer-desc h2 span{
    font-size: 12px;
    font-weight: normal;
}

.beer-desc p {
    margin: 1px 0px;
}